<!DOCTYPE html>
<html>
  <head>
    <title>Meishu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="flex flex-col min-h-screen bg-white dark:bg-gray-900">
      <header>
        <%= render 'layouts/navbar' %>
      </header>
      <main class="grow">
        <section class="relative mt-16">
          <%= yield %>
        </section>
      </main>
    </div>
  </body>
</html>
